<!-- Пример @Input и @Output в действии -->
<!-- <app-component-one c="abcd"></app-component-one> --> <!-- Присвоение переменной внутри компонента component-one значения abcd -->
<app-component-one [c]="a" (d)="check1_1($event)" /> <!-- 1. Присвоение переменной внутри компонента component-one переменную внутри текущего компонента 
3) (d) событие реагирующее на метод emit() и вызывающая функцию check1_1. $event это аргумент метода emit()  -->
<h3>{{b}}</h3>
<h3>{{ check3() }}</h3> <!-- Вызов функции внутри того же комопнента, return значение вставится внутри тега -->
<h3 [title]="n">ijkl</h3> <!-- Binding атрибута на переменную внутри текущего компонента -->

<h3 *ngFor="let i of g">{{i}}</h3> <!-- Создание копии HTML-элемента но с различным содержимым внутри(разные элементы массива)  -->

@for (i of g; track i){ <!-- Цикл для создания копии HTML-элемента но с различным содержимым внутри(разные элементы массива). track i нужен для оптимизации, так как он позволяет Angular отслеживать изменения в массиве и обновлять только те элементы, которые были изменены, вместо того чтобы перерисовывать весь список. -->
    <h3>{{i}} loop</h3>
}

<app-component-two *ngFor="let j of g" [f]="j" /> <!-- Цикл создает некоторое количество копии component-two но с разными данными для переменной f(так как во время итерации переменная равна отдельным элементам коллекции g находящийся в текущем компоненте). -->

<app-component-three />

<app-component-four />
