<h1>Component Three</h1>
<h3 [title]="isK ? k1 : k2">content1</h3> <!-- Условие для атрибутов, используются переменные внутри текущего компонента -->
<h3 [title]="check2()">content2</h3> <!-- Можно вызывать функцию для атрибута внутри того же комопнента -->
<h3 *ngIf="isK">content3</h3> <!-- Элемент создается только если переменная isK(внутри компонента) равна true -->
<h3 [title]="k1==='yes'">content4</h3> <!-- Бессмысленная операция, использовать только если атрибут принимает значения true и false. Например: <button [disabled]="count === 0">Submit</button> -->

@if (isK){ <!-- То же самое, но в современной версии angular. Подходит если нужно создать различные элементы в зависимости от условия  -->
    <h3 class="four1">content4_1</h3>
} @else{
    <h3 class="four1">content4_2</h3>
}

